/* .nav-bar {
    padding: 10px;
    background-color: #0a0d12;
    
}
*{
    color: #0a0d12;
}
.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logoo {
    font-size: 25px;
    font-weight: 600;
}

.con1 {
    display: flex;
}

.list {
    padding: 8px 15px;
    margin: 0px 10px;
    border-radius: 3px;
    background-color: #464d57;
}

.items {
    text-decoration: none;
    font-size: 14px;

    
    font-weight: 500;
}


.section1 {
    padding: 20px;
}







.bbt{
    margin-right: 30px;
    width: 120px;
    background-color: #030c3f;
    color: white;
    font-size: 18px;
}

*{
    margin: 0;
}
.mynav{
    display: none;
}
.pad{
    padding: 20px;
}


@media screen and (max-width:800px) {
    
.mynav{
display: flex;
justify-content: space-around;
background-color: #007bff;
padding: 10px;
position: fixed;
will-change:transform;
	transform: translateZ(0);
width: 100%;
z-index:1000;
bottom: 0;
left: 0;
right: 0;
}
.nav-links{
    text-decoration: none;
    color: black;

}
.nav-links:hover{
    text-decoration: none;
}

.mar{
    margin: 15px;
}
} */